<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the home page</h1>
    <h3> <%= 1 + 2 %> </h3>

    <!-- Random Conditional Statements -->
    <% if (Math.random() > 0.5) { %>
        <p>You are lucky! This message appears randomly.</p>
    <% } else { %>
        <p>Better luck next time! This is another random message.</p>
    <% } %>

    <% let hour = new Date().getHours(); %>
    <% if (hour < 12) { %>
        <p>Good morning!</p>
    <% } else if (hour < 18) { %>
        <p>Good afternoon!</p>
    <% } else { %>
        <p>Good evening!</p>
    <% } %>

   
    <!-- <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae ducimus quam beatae! Delectus sint neque voluptas accusamus similique excepturi ipsa itaque consectetur aliquid qui saepe nesciunt, minus, ipsum obcaecati?</p> -->
    <button>Click me!</button>
</body>
</html>
